ul
{
    list-style:none;
    margin:0px;
    padding:0px;
    background:orange;
    height:50px;
}
li
{
    float: left;
    margin-left:200px;
}
a
{
    text-decoration: none;
    background: orange;
    color:white;
    padding:0px 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:50px;
    display:block;
}
.sec1{

}

.sec2{

}

.sec3{

}

.sec4{
    
}
.map
{
    padding:40px 0;
    text-align:center;
}
.container
{
    max-width:100%px;
    margin:0 auto;
}